
/* Global Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('back.jpeg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Background styling */
.bg-image {
    background-image: url('back.jpeg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.7);
}

/* Form Container */
.form-container {
    

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Hide pages */
.hidden { display: none; }

tbody,th{
    color: white;
}